*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

div{

    background-color: rgb(0, 162, 255);
    box-shadow: 2px 2px 8px black;
    width: 400px;
    height: 50px;
    position: fixed;
    top: 44px;
    left: -110px;
    transform:rotate(315deg);
    margin: 20px;
    padding: 10px;
}
a{
    margin-left: 30px;
    color: wheat;
    font-size: 30px;
    text-decoration: none;
    border: 2px solid rgb(172, 154, 154);
    padding-left: 50px;
    padding-right: 60px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-shadow: 0.5px 1px 1px rgb(206, 205, 205) ;
    /* padding: 100px;
    font-size: 25px;
    text-decoration: none;
   
    color: rgb(29, 29, 29);    */

}

